In [161]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import math as math
import datetime as dt
import json
import requests

r = requests.get('https://data.winnipeg.ca/resource/du7c-8488.json')

trapDF = pd.DataFrame(r.json())
#trapDF.shape

# This part changes 'no data' entries to NaN entries
for cols in list(trapDF.columns):
    for indx in trapDF.index:
        if trapDF.at[indx, cols]=='no data':
            trapDF.at[indx, cols]=np.NaN
# changing coun_date type
trapDF['count_date'] = pd.to_datetime(trapDF['count_date'])            

trapDF=trapDF.sort_values(by=['count_date'])

# changing everything else to date type
for cols in list(trapDF.columns):
    if cols!='count_date':
        trapDF[cols]=pd.to_numeric(trapDF[cols])
        
        
        
# separating data into years
# TrapDF is a dictionary, lookup by year
TrapDF={}
for year in range(2015,2022):
    TrapDF[year]=trapDF[trapDF['count_date'].dt.year==year]
    #TrapDF[year].reset_index(inplace=True,drop=True)
TrapDF[2021].head()

# Replace north_west_i to NWi
replace={}
for ud in ['north','south']:
    for lr in ['west', 'east']:
        for i in range(1,8):
            word=ud+'_'+lr+'_'+str(i)
            replace[word]=ud[0].capitalize()+lr[0].capitalize()+str(i)
            print(word, replace[word])
for let in 'abcdefghi':
    word='rural_'+let+let
    replace[word]=2*let.capitalize()
    print(word, replace[word])

for ud in ['north','south']:
    for lr in ['west', 'east']:
        word=ud+'_'+lr+'_'+'average'
        replace[word]=ud[0].capitalize()+lr[0].capitalize()+'_avg'
        print(word, replace[word])    
    
replace['count_date']='date'
replace['city_wide_daily_average']='city_avg'

for year in range(2015,2022):
    TrapDF[year].rename(columns=replace,inplace=True)
    TrapDF[year].set_index('date',inplace=True)
    
TrapDF[2021].head()

north_west_1 NW1
north_west_2 NW2
north_west_3 NW3
north_west_4 NW4
north_west_5 NW5
north_west_6 NW6
north_west_7 NW7
north_east_1 NE1
north_east_2 NE2
north_east_3 NE3
north_east_4 NE4
north_east_5 NE5
north_east_6 NE6
north_east_7 NE7
south_west_1 SW1
south_west_2 SW2
south_west_3 SW3
south_west_4 SW4
south_west_5 SW5
south_west_6 SW6
south_west_7 SW7
south_east_1 SE1
south_east_2 SE2
south_east_3 SE3
south_east_4 SE4
south_east_5 SE5
south_east_6 SE6
south_east_7 SE7
rural_aa AA
rural_bb BB
rural_cc CC
rural_dd DD
rural_ee EE
rural_ff FF
rural_gg GG
rural_hh HH
rural_ii II
north_west_average NW_avg
north_east_average NE_avg
south_west_average SW_avg
south_east_average SE_avg

C:\Users\andre\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,city_avg,trap_days,NW1,NW2,NW3,NW4,NW5,NW6,NW7,NW_avg,...,SW_avg,AA,BB,CC,DD,EE,FF,GG,HH,II
date,,,,,,,,,,,,,,,,,,,,,
2021-05-03,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-05,0,2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,...,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2021-05-07,0,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-10,0,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-12,0,2,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1,...,0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [162]:
col_list=['Date time', 'Maximum Temperature', 'Minimum Temperature', 'Temperature', 'Wind Chill', 'Heat Index', 'Precipitation', 'Wind Speed', 'Wind Direction', 'Wind Gust', 'Cloud Cover', 'Relative Humidity', 'Conditions']
WeathDF={}
for year in range(2015,2022):
    word='WeatherData\history_data_'+str(year)+'.csv'
    WeathDF[year]=pd.read_csv(word, usecols=col_list)
WeathDF[2015].head()

for year in range(2015,2022):
    WeathDF[year]['Date time'] = pd.to_datetime(WeathDF[year]['Date time'])            
    WeathDF[year]=WeathDF[year].sort_values(by=['Date time'])
# changing everything else to date type
for year in range(2015,2022):
    for cols in list(WeathDF[year].columns):
        if cols!='Date time' and cols!='Conditions':
            WeathDF[year][cols]=pd.to_numeric(WeathDF[year][cols])
replace={'Date time':'date', 'Maximum Temperature':'Max_T', 'Minimum Temperature':'Min_T', 'Temperature':'T', 'Relative Humidity':'Humidity'}
for year in range(2015,2022):
    WeathDF[year].rename(columns=replace,inplace=True)
    WeathDF[year].set_index('date',inplace=True)
WeathDF[2016].dtypes

Max_T             float64
Min_T             float64
T                 float64
Wind Chill        float64
Heat Index        float64
Precipitation     float64
Wind Speed        float64
Wind Direction    float64
Wind Gust         float64
Cloud Cover       float64
Humidity          float64
Conditions         object
dtype: object

In [163]:
#url = 'https://www.energidataservice.dk/proxy/api/datastore_search?resource_id=nordpoolmarket&limit=5'
#response = requests.get(url)
feature_list=['InfoId', 'TrapLabel', 'Area', 'Coordinates_polygon']

LocList=[]
for let in 'ABCDEFGHI':
    LocList.append(let+let)
for let in ['NE','NW','SE','SW']:
    for num in '1234567':
        LocList.append(let+num)
print(LocList)

AreaLocMix=[]
f=json.load(open("JSON/adultMosquitoTrapArea.json"))
#print(f)

for line in f['features']:
    line_list=[]
    line_list.append(line['properties']['trapLocationInfoID'])
    line_list.append(line['properties']['trapLabel'])
    line_list.append(line['properties']['area'])
    line_list.append(line['geometry']['coordinates'])
    AreaLocMix.append(line_list)
#print(AreaLocMix)  
for i in range(len(AreaLocMix)):
    for j in range(len(AreaLocMix)):
        if j>i:
            if AreaLocMix[i][3][0]==AreaLocMix[j][3][0]:
                print(AreaLocMix[i][1],'=',AreaLocMix[j][1])

#print(AreaLocMix[10])
#print(AreaLocMix[11])
    
PolygonDF=[]    
for i in range(len(AreaLocMix)):
    long=[]
    lat=[]
    for point in AreaLocMix[i][3][0]:
        long.append(point[0])
        lat.append(point[1])
    PolygonDF.append(pd.DataFrame(list(zip(long,lat)), columns=['long', 'lat']))
print(PolygonDF[1].head())

AreaLoc={}
for i in range(len(AreaLocMix)):
    AreaLoc[AreaLocMix[i][1]]=AreaLocMix[i][3][0]
print(len(AreaLocMix))
#print(AreaLoc)

['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'NE1', 'NE2', 'NE3', 'NE4', 'NE5', 'NE6', 'NE7', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'SE1', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SW1', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7']
BB = CC
HH = II
        long        lat
0 -97.040258  50.016223
1 -97.038598  50.019433
2 -97.031871  50.026906
3 -97.108678  50.059985
4 -97.114842  50.063679
37

In [164]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
## point=[x,y], LocIdent returns [loc_1,loc_2,...] list of closest locations to a point
def LocIdent(point):
    [x,y]=point
    pnt=Point(x,y)
    ans={}
    mmin=10 # choose very large
    for loc in LocList:
        coords=[]
        for i in range(len(AreaLoc[loc])):
            coords.append((AreaLoc[loc][i][0], AreaLoc[loc][i][1]))
        #print(coords)
        poly=Polygon(coords)
        if pnt.within(poly):
            mmin=0
            if 0 in ans:
                ans[0].append(loc)
            else:
                ans[0]=[loc]
        if mmin!=0:
            if poly.exterior.distance(pnt)<=mmin:
                mmin=poly.exterior.distance(pnt)
                if mmin in ans:
                    ans[mmin].append(loc)
                else:
                    ans[mmin]=[loc]
    return ans[mmin]
LocIdent([-97.2,49.9])

['NW4']

In [165]:
#Runs for quite some time, quite some time
HelicFullDF=pd.read_csv('SprayingData\Helicopter_Flight_Spray.csv')
#HelicDF=pd.read_csv(word, usecols=col_list)

print(HelicFullDF.shape)
HelicFullDF['Date'] = pd.to_datetime(HelicFullDF['Date'])     
HelicFullDF.sort_values(by=['Date'], inplace=True)
#HelicDF.set_index('Date',inplace=True)

for i in HelicFullDF.index:
    cur_date=dt.datetime(HelicFullDF.at[i,'Date'].year,HelicFullDF.at[i,'Date'].month, HelicFullDF.at[i,'Date'].day)
    HelicFullDF.at[i,'Date']=cur_date


HelicFullDF.head()

HelicFullDF.dropna(subset = ["Geometry"], inplace=True)
print(HelicFullDF.shape)

#HelicDF['Geometry'] is replaced by average of points, instead of polygon.
for i in HelicFullDF.index:
    line=str(HelicFullDF.at[i,'Geometry'])
    if not(line is np.NaN):
        linePoly=[[float(x.split(' ')[0]), float(x.split(' ')[1])] for x in line[16:-3].split(', ')]
    x_sum=0
    y_sum=0
    for point in linePoly:
        x_sum+=point[0]
        y_sum+=point[1]
    x_avg=x_sum / len(linePoly)
    y_avg=y_sum / len(linePoly)
    HelicFullDF.at[i,'Geometry']=[x_avg, y_avg]
print(HelicFullDF.head())
############################################################################
HelicDict={}
for i in HelicFullDF.index:
    already=False
    cur_date=HelicFullDF.at[i, 'Date']
    if cur_date in HelicDict:
        already=True
    
    point=HelicFullDF.at[i, 'Geometry']
    locations=LocIdent(point)
        
    if not(already):
        current_dict={}
        for loc in LocList:
            if len(loc)!=2:
                if loc in locations:
                    current_dict[loc+'_h']=1
                else:
                    current_dict[loc+'_h']=0
        
    if already:
        for loc in locations:
            if len(loc)!=2:
                HelicDict[cur_date][loc+'_h']=1
        if not(HelicFullDF.at[i,'Chemical Code'] in HelicDict[cur_date]['chemical_h']): 
            HelicDict[cur_date]['chemical_h'].append(HelicFullDF.at[i,'Chemical Code'])
    else:
        HelicDict[cur_date]=current_dict
        HelicDict[cur_date]['chemical_h']=[HelicFullDF.at[i,'Chemical Code']]

(182102, 10)
(157146, 10)
            ID                            Filename Helicopter Id  \
138127  104175  2020-08-25-094334-GHTE-BT-0816-log          GHTE
42388     8225  2020-05-20-145852-FPWK-MT-0422-log          FPWK
34344     1084  2020-05-20-141212-FPWK-MT-0422-log          FPWK
50515    39549  2020-05-27-121102-FPWK-MT-0422-log          FPWK
50132    39091  2020-05-27-121102-FPWK-MT-0422-log          FPWK

       Chemical Code    Chemical       Date  GPS ALT  Width  Speed  \
138127            BT         Bti 1999-12-31      290     12   29.2
42388             MT  Methoprene 2020-04-22      249     12   44.3
34344             MT  Methoprene 2020-04-22      249     12   44.3
50515             MT  Methoprene 2020-04-22      249     12   44.3
50132             MT  Methoprene 2020-04-22      249     12   44.3

                                        Geometry
138127  [-97.18008924411996, 50.037916957477144]
42388    [-97.10122054453052, 49.96450096059296]
34344    [-97.10122054453052, 49.96450096059296]
50515    [-97.10122054453052, 49.96450096059296]
50132    [-97.10122054453052, 49.96450096059296]

In [166]:
###################################################################
HelicPDict={}
HelicPDict['date']=[]
HelicPDict['chemical_h']=[]
for loc in LocList:
    if len(loc)!=2:
        HelicPDict[loc+'_h']=[]
        
for current_date in HelicDict:
    HelicPDict['date'].append(current_date)
    for key in HelicDict[current_date]:
        HelicPDict[key].append(HelicDict[current_date][key]) 
        
HelicFullDF=pd.DataFrame.from_dict(HelicPDict)
HelicFullDF.head()

#################################################################
HelicDF={}
for year in range(2020,2022):
    HelicDF[year]=HelicFullDF[HelicFullDF['date'].dt.year==year]
    #TrapDF[year].reset_index(inplace=True,drop=True)
HelicDF[2021].head()

for year in range(2020,2022):
    HelicDF[year].set_index('date',inplace=True)
HelicDF[2021].head()

,chemical_h,NE1_h,NE2_h,NE3_h,NE4_h,NE5_h,NE6_h,NE7_h,NW1_h,NW2_h,...,SE5_h,SE6_h,SE7_h,SW1_h,SW2_h,SW3_h,SW4_h,SW5_h,SW6_h,SW7_h
date,,,,,,,,,,,,,,,,,,,,,
2021-04-22,[MT],0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-04-24,[MT],0,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,1,0,0
2021-04-25,[MT],0,0,0,1,1,0,0,0,1,...,0,0,1,0,1,1,0,1,0,0
2021-04-26,[MT],0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-04-29,[BT],0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [168]:
LocList=[]
for let in 'ABCDEFGHI':
    LocList.append(let+let)
for let in ['NE','NW','SE','SW']:
    for num in '1234567':
        LocList.append(let+num)
LocList.append('city_avg')
for let in ['NE','NW','SE','SW']:
    LocList.append(let+"_avg")

print(LocList)

TrWtDF={}
for year in range(2015,2022):
    TrWtDF[year]={}
    for loc in LocList:
        TrWtDF[year][loc]=pd.concat([TrapDF[year][loc], WeathDF[year]], axis=1, join="inner")
        
TrWtDF[2016]['NW_avg'].head()

['AA', 'BB', 'CC', 'DD', 'EE', 'FF', 'GG', 'HH', 'II', 'NE1', 'NE2', 'NE3', 'NE4', 'NE5', 'NE6', 'NE7', 'NW1', 'NW2', 'NW3', 'NW4', 'NW5', 'NW6', 'NW7', 'SE1', 'SE2', 'SE3', 'SE4', 'SE5', 'SE6', 'SE7', 'SW1', 'SW2', 'SW3', 'SW4', 'SW5', 'SW6', 'SW7', 'city_avg', 'NE_avg', 'NW_avg', 'SE_avg', 'SW_avg']

,NW_avg,Max_T,Min_T,T,Wind Chill,Heat Index,Precipitation,Wind Speed,Wind Direction,Wind Gust,Cloud Cover,Humidity,Conditions
date,,,,,,,,,,,,,
2016-05-04,1,20.7,4.1,12.8,3.4,NaN,0.00,7.6,237.96,31.3,3.4,46.63,Clear
2016-05-06,3,24.7,10.9,17.3,NaN,NaN,0.00,25.9,233.21,48.2,5.3,36.61,Clear
2016-05-09,1,26.0,11.5,19.2,NaN,NaN,0.24,10.6,155.00,53.7,1.4,29.86,Rain
2016-05-11,1,15.3,10.9,12.6,NaN,NaN,1.74,16.2,137.29,53.6,7.5,77.74,Rain
2016-05-13,0,3.9,-0.9,1.8,-5.5,NaN,0.74,23.3,327.21,42.1,6.2,65.47,Rain

In [ ]:
f=json.load(open("JSON/City Limit.geojson"))
AreaCity=f['features'][0]['geometry']['coordinates'][0][0]
long=[]
lat=[]
for i in range(len(AreaCity)):
    for point in AreaCity:
        long.append(point[0])
        lat.append(point[1])

#print(PolygonDF.head())

BBox = [-97.7350689864101, -96.360365195092, 49.52436196574, 50.0636786159233]
ratio=(BBox[3]-BBox[2])/(BBox[1]-BBox[0])
#print(BBox)
fig, ax = plt.subplots(figsize=(20,20*ratio/0.64))

#linePoly=HelicTestDF['Geometry'].to_numpy()
#for i in range(len(linePoly)-1):
#    x_1=linePoly[i][0]
#    x_2=linePoly[i+1][0]
#    y_1=linePoly[i][1]
#    y_2=linePoly[i+1][1]
#    ax.plot([x_1,x_2], [y_1,y_2], c='r')
#x_1=linePoly[len(linePoly)-1][0]
#x_2=linePoly[0][0]
#y_1=linePoly[len(linePoly)-1][1]
#y_2=linePoly[0][1]
#ax.plot([x_1,x_2], [y_1,y_2], c='r')
#for i in range(len(linePoly)-1):
#    ax.scatter(linePoly[i][0], linePoly[i][1], c='r', s=10)



for i in range(len(AreaCity)-1):
    x_1, y_1=AreaCity[i]
    x_2, y_2=AreaCity[i+1]
    ax.plot([x_1,x_2], [y_1,y_2], c='b')
x_1, y_1=AreaCity[len(AreaCity)-1]
x_2, y_2=AreaCity[0]
ax.plot([x_1,x_2], [y_1,y_2], c='b')

ax.set_title('Plotting Spatial Data')
ax.set_xlim(BBox[0]-0.01,BBox[1]+0.01)
ax.set_ylim(BBox[2]-0.01,BBox[3]+0.01)    
#ax.scatter(PolygonDF['long'], PolygonDF['lat'], zorder=1, alpha= 0.2, c='b', s=10)

#ax.imshow(ruh_m, zorder=0, extent = BBox, aspect= 'equal')